<html>  
<head>  
<title>success</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>  
<body style="background-color: black; color: white" id="body">  
<p>File uploaded successfully</p>  
<p>File Name: {{name}}</p>  

{% if color == "False"%}
<style>
pre{
    background: linear-gradient(-13deg, #00ff37, 
     #fbff02, #ff4e4e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    font-weight: 1000;
    color:transparent;
    text-align: center; 
    /*filter: brightness(1.5);
    possibly useful
    */
    font-size: {{fontSize}};
}
</style>
{% else %}
<style>
span{
    font-weight: 1000;
    line-height: 2px;
    text-align: center; 
    font-size: {{fontSize}};
}
</style>
{% endif %}
<pre id = "Art"></pre>

<script>
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        document.getElementById('Art').innerHTML = this.responseText;
    };
    if ("{{color}}".localeCompare('True') == 0){
        xhr.open('GET', "/static/spanOut.txt");
    }
    else {
        xhr.open('GET', "/static/Output.txt");
    }
    xhr.send();

    
</script>



<form action = "/success" method = "post" enctype="application/x-www-form-urlencoded" id="Form"> 
    <input name = "scale" value = "{{scale}}" type="range" min="1" max="30" step="1" oninput="this.nextElementSibling.value = this.value; document.getElementById('Form').submit()">
    <output>{{scale}} Scale</output>

    <input id = "colorCheck" name = "color" type="checkbox"  oninput="this.nextElementSibling.value = 'Color: ' + this.value; document.getElementById('Form').submit();">
    <output>Color</output>

    <input id = "invert" name = "invert" type="checkbox"  oninput="this.nextElementSibling.value = 'Invert: ' + this.value; document.getElementById('Form').submit();">
    <output>Invert</output>

    <div id="gradientColors">
        <input id = "lin1" name = "linColor1" type="color" oninput="this.nextElementSibling.value = 'Gradient Color 1: ' + this.value; updateLinGradient();">
        <output>Gradient Color 1: </output>
        <input id = "lin2" name = "linColor2" type="color" oninput="this.nextElementSibling.value = 'Gradient Color 2: ' + this.value; updateLinGradient();"> 
        <output>Gradient Color 2: </output>
        <input id = "lin3" name = "linColor3" type="color" oninput="this.nextElementSibling.value = 'Gradient Color 3: ' + this.value; updateLinGradient();"> 
        <output>Gradient Color 3: </output>
    </div>

    <button onclick="addColor()" type="button">Add Gradient Color</button>


    <br>

    <input name = "angle" id="angle" type="range" value="13" min="0" max="360" step="1" oninput="this.nextElementSibling.value = 'Deg: ' + this.value; updateLinGradient()">
    <output>Deg: 13</output>

    <input name = "color1" type="color" oninput="this.nextElementSibling.value = this.value; document.getElementById('body').style.backgroundColor = this.value">
    <output>0 Background</output>


    <input name = "lineHeight" value = .4 type="range" min=".1" max="2" step=".05" oninput="this.nextElementSibling.value = 'Line Spacing: ' + this.value; document.getElementById('Art').style.lineHeight = this.value">
    <output>lineHeight</output>
    <br>

    <input name = "fontSize" value = "{{fontSize}}" type="range" min=".1" step=".1" max="20" oninput="this.nextElementSibling.value = 'Font Size: ' + this.value; document.getElementById('Art').style.fontSize = this.value + 'px'">
    <output>fontSize</output>
    <br>

    <input name = "LetterSpacing" value = "1" type="range" min="-4" step=".1" max="4" oninput="this.nextElementSibling.value = 'Letter Spacing: ' + this.value; document.getElementById('Art').style.letterSpacing = this.value">
    <output>Letter Spacing</output>
    <br>

    <input min = "0" max = "3" step = "1" name = "edgeDetect" type="range" value = "{{edgeDetect}}" oninput="this.nextElementSibling.value = 'edgeDetect: ' + this.value; document.getElementById('Form').submit()">
    <output>edgeDetect: {{edgeDetect}}</output>

    <input min = "0" max = "3" step = ".1" name = "contrast" type="range" value = "{{contrast}}" oninput="this.nextElementSibling.value = 'contrast: ' + this.value; document.getElementById('Form').submit()">
    <output>contrast: {{contrast}}</output>
    <input min = "-255" max = "255" step = "1" name = "brightness" type="range" value = "{{brightness}}" oninput="this.nextElementSibling.value = 'brightness: ' + this.value; document.getElementById('Form').submit()">
    <output>brightness: {{brightness}}</output>

</form>

{% if color=='True' %}
    <script>
        document.getElementById("colorCheck").checked = true;
    </script>
{% endif %}
{% if invert=='True' %}
    <script>
        document.getElementById("invert").checked = true;
    </script>
{% endif %}


<script>

    function makeGradient(){
    const colorNames = $.map($('#gradientColors > input'), input => input.id);

    gradient = 'linear-gradient( ' + document.getElementById('angle').value + 'deg';
    colorNames.forEach((name, index) => gradient = gradient.concat(', ', document.getElementById(name).value));
    gradient = gradient.concat(')');
    return gradient;
    }


    function updateLinGradient() {
        //document.getElementById('Art').style.background = 'linear-gradient( ' + document.getElementById('angle').value + 'deg, ' + document.getElementById('lin1').value + ', ' + document.getElementById('lin2').value + ', ' + document.getElementById('lin3').value + ')'; document.getElementById('Art').style['-webkit-background-clip'] = 'text';
        document.getElementById('Art').style.background = makeGradient();
        document.getElementById('Art').style['-webkit-background-clip'] = 'text';
    }

    function getColorNum(){
        const colorNames = $.map($('#gradientColors > input'), input => input.id);
        return colorNames.length
    }


    function addColor() {
        document.getElementById('gradientColors').insertAdjacentHTML("beforeend",  '<input id = "lin" + getColorNum() name = "linColor" + getColorNum() type="color" oninput="this.nextElementSibling.value = \'Gradient Color \' + getColorNum() + \': \' + this.value; updateLinGradient();">' )
        document.getElementById('gradientColors').insertAdjacentHTML("beforeend", "<output>Gradient Color " + getColorNum() + ": </output>")
    }

</script>


</body>  
</html>  